[2017-01-20 15:32] elsom25 opened #11 "Encoding::UndefinedConversionError [ruby 2.3.0]"
When attempting to use, I get:

[code]

[2017-01-20 16:49] tilfin commented on #11
@elsom25  Firstly, Thanks your trying Ougai!

I guess your irb's encoding is not UTF-8 so that JSON generater failed to read your hostname that contains UTF-8 character.

Please try to run `$ irb -E 'UTF-8'`

[2017-01-20 17:20] elsom25 commented on #11
sadly didn't seem to help!

[code]

[2017-01-20 17:33] tilfin commented on #11
@elsom25 Please avoid the problem for now.
[code]
specifying 'myhost' instead of getting your hostname

[2017-01-20 19:10] elsom25 commented on #11
Thanks! For now this works to get around the issue

[2017-01-20 19:10] #11 closed

[2017-02-05 05:30] tilfin commented on #11
It was due that Socket.gethostname always returns an ASCII-8BIT encoding string.

[2017-07-31 19:41] eropple opened #23 "Sub-logger support"
Hey there - Ougai looks _rad_ and I'm trying it out in a new project right now! Thanks for open-sourcing it.

One thing I noticed is that it doesn't support child loggers. It seems like you're familiar with `bunyan` for Node so I assume you know how they roll, but it really seems like something that might be nice to have (for example, I'm using it in a Grape API right now and I'd love my controlle

[2017-08-01 13:37] tilfin commented on #23
Hi, I have implemented **child logger** system. Is this feature matching your wish?
https://github.com/tilfin/ougai/blob/feature/child-logger/README.md#create-a-child-logger
If you are satisfied with it, I will release it.

[2017-08-01 15:54] eropple commented on #23
Whoa, dude, that's awesome. That looks great.

[2017-08-01 16:41] tilfin commented on #23
@eropple I released it on [ougai 1.2.0](https://rubygems.org/gems/ougai/versions/1.2.0).
If this is useful for you, please star this repo! thank you.

[2017-08-01 16:41] #23 closed

[2017-08-01 17:07] eropple commented on #23
That's super cool--thanks for being so responsive.

[2017-12-12 19:11] eropple opened #43 "Integrating Ougai with Rack"
This is something I've been looking at, but figuring out a good way to hook Ougai into Rack's logging for request logging seems like something that'd be pretty handy. Maybe somebody else has already done the heavy lifting here?

[2017-12-13 04:39] tilfin commented on #43
The following code works as expected.

#### rack_ougai_logger.rb

[code]

#### config.ru

[code]

### result

[code]

[2017-12-13 19:09] eropple commented on #43
Oh, right on. I'm glad you beat me to it! Might be something to throw in the wiki or the like?

[2017-12-13 21:17] eropple commented on #43
Actually, I just wrote up a quickie gem for this:

https://rubygems.org/eropple/rack-ougai

[2017-12-13 21:17] #43 closed

[2017-12-15 02:31] tilfin commented on #43
I added https://github.com/tilfin/ougai/wiki/Use-as-Rack-logger .

'Ougai::RequestLogger' name is follow a precedent 'Rack::CommonLogger', But 'XxxLogger' double meaning in Rack confuse us. I think which item should be given as an HTTP access log depending on the case.

[2017-12-21 03:24] flah00 opened #45 "Unable to load rails console rails-5.1.4 ruby-2.3.1"
When using ougai as my logger and initializing honeybadger, I'm unable to start a rails console, on a fresh rails-5.1.4 install, with ruby-2.3.1.

1. `rails new rtest -d postgresql`
1. `cd rtest`
1. copy files into place
1. `bundle install`
1. `bundle exec rails s`
    * should succeed
1. `bundle exec rails c`
    * should fail
1. Comment out logger line, in application.rb
1. `bundle exec rails c`

[2017-12-21 06:36] #45 closed

[2017-12-21 06:42] tilfin commented on #45
Thank you for the bug report.
I released v1.5.8 fixed. please use it!

[code]

[2018-02-18 13:22] rurounijones opened #55 "What is "v" for?"
This is most likely a stupid question but I cannot figure out what the intended purpose of the "v" key is in the log output?

It is always 0 for me and looking through the code I see it is sometimes 0 or 1 in the tests.

Could you shed some light on what this key is for? :smile:

[2018-02-18 14:25] tilfin commented on #55
@rurounijones The reason why I made Ougai is that I firstly wanted a Ruby JSON logger compatible with node-bunyan. That makes aggregating Ruby and Node.js JSON logs possible and they could be analyzed at the same. I guess that Bunyan logs have `v` field as the version of log format. Bunyan also have good viewer cli but it does not works logs without `v` field.
If you want simplier JSON formatter,

[2018-02-21 07:42] eropple opened #56 "Rendering time in UTC by default"
Might be a good idea to allow specification of the time zone Ougai should be using for its logs, at least as an arg for the JSON formatters. In production we run servers as UTC, but for obvious reasons my dev workstation doesn't. ;)

[2018-02-21 07:44] eropple opened #57 "Consider performance with regards to ChildLogger"
Not a critical thing, but I noticed that calls to loggers through ChildLogger are recursive. Might be worth having each ChildLogger record its parent and a fresh copy of all fields to reduce these; right now I've got four-level-deep child chains in places and while it isn't a performance concern yet, I can totally see it becoming an issue.

[2018-02-21 08:17] tilfin commented on #56
The timezone is supposed to dependent on ENV['TZ'] in running OS 🤔

[2018-02-21 08:20] tilfin commented on #56
I confirmed the following. My PC timezone is 'Asia/Tokyo' (+09:00).

[code]

[code]

[2018-02-24 05:17] tilfin commented on #57
Yes, I knew the cost of child logger chain, it is especially Hash merge. But copying with_fields of the parent to child's at first forces parent logger to have the refercences of children and to propagate their updates to children.
I think a logger should be stable rather than be fast. That is the trade-off of the stable and the speed about this issue.

By the way I came up with duplicating a chil

[2018-02-25 10:53] rurounijones commented on #55
情報ありがとうございました :grinning:

[2018-02-25 10:53] #55 closed

[2018-03-03 07:09] tilfin commented on #56
Please feel free to open this if there is something.

[2018-03-03 07:09] #56 closed

[2018-03-03 07:09] tilfin commented on #57
Please feel free to open this if there is something.

[2018-03-03 07:09] #57 closed

[2018-05-23 08:16] skatkov opened #59 "Consider Jruby compitability"
Thanks for an interesting project!

It would be nice if this gem would play nicely with jruby. I've noticed a recent dependency change from 'json' gem to 'oj' gem. It's a good change to do if your on MRI, oj is significantly faster. But it doesn't have any support for Jruby
https://github.com/ohler55/oj/blob/fca1a69c15d4f17b0401416f6376553d517483f9/pages/Compatibility.md

Are you willing to consid

[2018-05-23 17:02] tilfin commented on #59
Thank you. I have revived JRuby support.   I consider to reduce dependency as possible, so I did not use multi_json.

[2018-05-23 17:08] tilfin commented on #59
I released it on v1.6.6 .

[2018-05-23 17:08] #59 closed

[2018-05-29 14:22] ac-astuartkregor opened #63 "Consider customising default logged attributes"
Hi there, thanks for taking the time to read this.

I'm looking at putting structured logging into our rails apps and Ougai seems to give me what I'm looking for. I was wondering what people think about being able to turn off certain properties/fields that are logged by default.

Consider the following example, where the name, hostname, pid, level, time and 'v' attributes are included in the log m

[2018-05-29 14:36] ac-astuartkregor commented on #63
P.S. Perhaps what I would be looking for is a combination of a new ElasticSearch formatter, which has the same config option, or the preset fields configurable through the initializer. I noticed that I have the `@timestamp` field in as well, which isn't just a case of including or excluding default fields.

[2018-05-29 14:46] tilfin commented on #63
Thank you for your proposal.

First of all, I think a log-output should be few processing procedures as soon as possible. If a logger has the options to output a log in itself, it's necessary to reflect the options each time log-output.

I think that it is more efficient to create a log format that matches your project than that way. I'm sorry that I have not provided the information to create cut

[2018-05-29 14:51] ac-astuartkregor commented on #63
@tilfin Thanks for your quick reply and for your suggestions. Shall I go ahead and create a formatter? I think I can get started without needing any guidance. Once I've got a branch ready, I'll raise a PR if you'd like and we can discuss the approach there?

[2018-05-29 15:41] tilfin commented on #63
@ac-astuartkregor  No, I think it is best to create custom formatter for each project. I consider that Ougai may contain new log formatter if it corresponds to other well-known services and tools. But after all, I guess that everyone is trying to customize a formatter to be suitable for his or her project.

If you think that your formatter is convinience to others, I'm happy that you will try it a

[2018-06-20 22:10] bitc opened #64 "Agree upon a common JSON format with other structured logging frameworks"
Hi! I've recently become more interested in structured logging, and have looked into a few structured logging libraries.

You get amazing power when you dump the logs from all of your different systems and sources into a centralized log store, and can then view and analyze them as one whole.

What I've noticed though is that the various structured logging frameworks all save JSON log entries in si

[2018-08-14 18:34] alebian opened #65 "Getting a lot of warnings using the gem"
Hi! I am getting this warning a lot of times while running RSpec:

[code]

[2018-11-30 11:17] #65 closed

[2018-12-11 13:56] luizcarvalho commented on #63
Ohh, I have exactly same need of the @ac-astuartkregor =(

[2018-12-11 14:12] ac-astuartkregor commented on #63
@luizcarvalho You can override the `Ougai::Formatters::Base#_call` method to get the output that you want, for instance:
[code]

So for example, you can ignore the `severity` and `progname` parameters.

[2018-12-11 14:18] luizcarvalho commented on #63
Thank you @ac-astuartkregor  <3

[2018-12-21 10:31] stadia opened #71 "call by tagged_logging so msg is String"
[code]
so print
[code]

[2019-01-13 10:05] tilfin commented on #71
@stadia Ougai does not support TaggedLogging because TaggedLogging forces logs to be string and inserts tags string to the head of logs.

[2019-02-07 17:05] flexoid opened #72 "Fields order"
Hi!

First of all, thanks for a great gem.

Following code

[code]

Produces
[code]

But I expect something like this
[code]

I know that JSON object structure natively is not ordered. But it looks logical to me to preserve fields order when consecutively adding them with `with_fields` and `child`. It's also much more convenient for human readability of the logs, when more "generic" fields come be

[2019-02-08 05:32] tilfin commented on #72
Hello, @flexoid

I understand what you think. On the other hand, for example, it is not programatical that `v` is placed last but I feel it to be better too. I also think some people prefer the reverse format to place detail info on the head of log because a JSONLine log needs wide screen.

To customize a formatter can change the orders of basic information (like name, hosname, pid,... ), But ther

[2019-03-23 06:06] tmedford opened #73 "Log with Rails Request ID"
How do we use this logger with rails and record request id with each log message?

[2019-03-23 12:35] tilfin commented on #73
@tmedford You can do it as follows!

#### config/application.rb

[code]

[2019-03-23 15:54] tmedford commented on #73
@tilfin error "undefined method  `thread_mattr_accessor' for RequestIDMiddleware:Class"

[2019-03-23 16:16] #73 closed

[2019-03-23 16:16] tilfin commented on #73
@tmedford FYI https://api.rubyonrails.org/classes/ActiveSupport/PerThreadRegistry.html

[2019-03-23 17:10] tmedford opened #74 "Inherit from Mono Logger"
How would we make ougai inherit from mono logger as to protect against trapped threads.
![image](https://user-images.githubusercontent.com/4482381/54869301-f0024c80-4d6c-11e9-80b5-94023ebb25ce.png)

[2019-03-23 18:02] tmedford commented on #74
Confirmed, ougai logger does not protect agains trap context.

[2019-03-24 02:51] tilfin commented on #74
I have not confirmed this behavior. I propose the solution how you directly create LocklessLogDevice and set it the first argument of `Ougai::Logger.new`. https://github.com/steveklabnik/mono_logger/blob/master/lib/mono_logger.rb#L42

[2019-03-29 16:52] skatkov opened #75 "Ougai::Logger.broadcast will not work if formatter was used."
I have a very simple `LoggerBuilder` class, main requirement for it is to:
- Output `readable` version of logs into STDOUT
- Output regular version to file

here is a code.
[code]

in this scenario, logs will not be written to file. BUT if I'll comment out like with formatter

[code]

it works!

So, I'm not sure if this is a feature or a `bug`. But I decided to report to see what you think.

[2019-03-29 16:56] skatkov commented on #75
I tried to rewrite those loggers slightly differently.  But this version didn't work for me either.

[code]

[2019-03-30 06:22] tilfin commented on #75
@skatkov Tell me your using ougai gem version and platform. I tried to the above code but it worked without problems 🤔

[2019-03-31 05:56] skatkov commented on #75
@tilfin sorry, forgot to add it.
[code]

[2019-03-31 07:40] tilfin commented on #75
@skatkov My environment is the same as yours. Tell me about the problem in detail.

[2019-03-31 11:08] skatkov commented on #75
I've noticed that you have some specs for #broadcast method. Once I'll be at a computer, I'll try to reproduce issue through specs and create a pull request.

[2019-04-01 18:41] skatkov commented on #75
So I was unable to reproduce this error in rspec tests, but I've managed to this it in my application.

I'm using `foreman` tool to launch two processes -- producer.rb and consumer.rb

#Procfile
[code]

example of `producer.rb`
[code]

both of them use `LoggerBuilder`, but both of them write to separate files.

Here is LoggerBuilder:
[code]

So if I drop magic comment `# frozen_string_literal: tru

[2019-04-02 13:58] tilfin commented on #75
@skatkov How about trying `Ougai::Logger.new("logs/#{name}.log")` ? I don't understand why frozen_string_literal affects output. But the log file sync modes are different by ruby logger than by yours.
https://github.com/ruby/ruby/blob/trunk/lib/logger.rb#L737

[2019-04-18 02:26] #71 closed

[2019-04-18 02:26] #74 closed

[2019-05-14 09:37] calleo opened #77 "Rails 5.2.2.1 tagged logger casts log attributes to string"
I am seeing some weird behavior using Rails 5.2.2.1. I have followed the setup guide on the wiki and integrated it with lograge.

The message payload (which is a hash) is turned into a string. This is how it looks in the log:

`{"name":"rails","hostname":"computer.local","pid":19340,"level":30,"time":1557826080140,"v":1,"msg":"{:msg=>\"Request\", :request=>{:method=>\"GET\", :path=>\"/products/car

[2019-05-14 10:24] calleo commented on #77
Ok, looks like an issue caused by webpacker: https://github.com/rails/webpacker/issues/1312

[2019-05-14 10:32] calleo commented on #77
Instead of monkey patching I added a 'tagged' method to my custom logger (inheriting from Ougau::Logger

[code]

[2019-05-14 12:16] flippakitten commented on #77
I ended up using [SemanticLogger](https://github.com/rocketjob/rails_semantic_logger), which I really enjoy.

[2019-05-14 13:56] tilfin commented on #77
I didn't know that ActionJob requires TaggedLogging. In the sense of supporting Rails, I think that there is nothing but to support the interface of TaggedLogging.

[2019-05-14 14:17] tilfin commented on #77
@calleo I realized this complex problem. ActionJob can support a logger without TaggedLogging at https://github.com/rails/rails/blob/master/activejob/lib/active_job/logging.rb#L47 . But Webpacker forcely uses wrapping
Ougai::Logger by TaggedLogging at https://github.com/rails/webpacker/blob/master/lib/webpacker/railtie.rb#L77 and it causes the original logger instance to extend TaggedLogging.

[2019-05-14 14:44] tilfin commented on #77
@calleo I think that this problem will be resolved on Rails 6 by https://github.com/rails/rails/commit/62fba74932a72ee8104712a3db432b593fe0c6af#diff-f5b84c8292ccf226ce319abbd6953fa0R60 so I want you to use monkey patch at present.

[2019-06-11 20:52] jbodah opened #78 "`logger.info(progname) { message }` syntax not supported"
The default `Logger` can accepts a progname with block syntax e.g. the following will set `progname` to `initialize` which is forwarded to the `Logger::Formatter`'s `call` method:

[code]

This does not seem to be supported by Ougai from what I can tell

[2019-06-12 01:29] tilfin commented on #78
Yes, Ougai does currently not support `progname`. I think that it is better to use `logger.child()` with one field than specifying `progname` for each log. For future reference, I would like to know how you use `progname`.

[2019-06-12 04:55] jbodah commented on #78
Ah, I had some old code that was constructing the source of calls (e.g. `Klass.method`) that fit naturally into progname for Logger and I was just surprised to run into an issue when I upgraded it to Ougai

[2019-06-12 13:33] #78 closed

[2019-06-28 13:23] #72 closed

[2019-06-28 13:23] #64 closed

[2019-06-28 13:24] #75 closed

[2019-06-29 05:53] tilfin commented on #77
Appended how-to at https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger#with-activesupporttaggedlogging

[2019-06-29 05:53] #77 closed

[2019-06-29 05:53] tilfin commented on #71
See https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger#with-activesupporttaggedlogging

[2019-07-24 05:32] zw963 opened #82 "Forward log to kibana and add some ANSI characters."
Maybe this is not a ougai issue, it may relative to kibana or Rails code, i just confirm here before i create issue for others  : )

process to reproduce:

### following is all code i config to send logs

https://github.com/zw963/test_fluentd/blob/test/lib/fluent_logger.rb#L66-L72

### I run code like following to send logs to fluentbit, and fluentbit will forward log to elasticsearch.

[code]

##

[2019-07-24 06:02] #82 closed

[2019-07-30 08:53] PoombavaiS opened #83 "Change log level from number to log name"
When I try to print the below log, it prints "level" in numbers. Instead, I want it in the log level name itself.
`logger.info('Information!')
{"name":"main","hostname":"mint","pid":14607,"level":30,"time":"2016-10-16T22:26:48.835+09:00","v":0,"msg":"Information!"}`

Am expecting,

`logger.info('Information!')
{"name":"main","hostname":"mint","pid":14607,"level":"Info","time":"2016-10-16T22:26:48.

[2019-07-30 09:18] tilfin commented on #83
Please make suitable formatter for your project referring to https://github.com/tilfin/ougai/blob/master/lib/ougai/formatters/bunyan.rb.

For example,
[code]

[code]

[2019-08-10 15:12] zw963 commented on #83
i am wired too why we use number instead level name, thank you.

[2019-08-10 15:16] zw963 opened #84 "Keep rails old format log output to file when use ougai logger."
As lograge does:

[code]

[2019-08-10 15:54] tilfin commented on #84
Ougai is main logger system, not specialized for one feature like a Lograge for request. therefore the logs that Ougai outputs is original.
How do you actually want to output logs?

[2019-08-10 17:39] zw963 commented on #84
Sorry for confuse, what i means, when config to use ougai, how to keep `rails old  format logger`
still output to some file, e.g.  `log/production.log`.

when i set config.logger to use ougai logger,  production.log could not see any output.

[2019-08-11 00:18] tilfin commented on #84
It is impossible because ActiveSupport::Logger can not parse the structure logging that Ougai::Logger outputs. I recommend you to use Readable formatter on development and to use bunyan or pino CLI to format JSON logs on production, for looking logs easily.

[2019-08-11 01:06] tilfin commented on #83
If the log level is numeric, the log service can filter the logs easily like `{$ .level> 30 }` .

[2019-08-11 01:06] #83 closed

[2019-08-11 06:48] zw963 commented on #84
Is there any change to output old rails log to file before process to json?

For clarify my question, following is my config, most of my code is come from WiKi, with some change.

https://github.com/zw963/test_fluentd/blob/v0.1/lib/fluent_logger.rb

When i set `config.logger = AppLogger.logger` in `production.rb`,  it worked well.
but, i have no idea about how to output logger to log/production.lo

[2019-08-11 07:20] zw963 commented on #83
Can we use  `{ $.level> 30 }` filter in kibana? it is not worked for me.

![image](https://user-images.githubusercontent.com/549126/62831041-8a472c00-bc4b-11e9-8ea6-8bfaf63d9b37.png)

But filter by string is more rememberable.

[2019-08-11 08:37] zw963 commented on #83
thank you,  kibanba can use: 'level > 30' directly.

[2019-08-11 11:26] tilfin commented on #84
The broadcast feature can output to both fluentd and production.log. https://github.com/tilfin/ougai#using-broadcast-log-output-plural-targets

[2019-08-12 18:11] zw963 commented on #84
Thank you for reply, code like following is not work, because i have no idea to get the
Rails Tagged request id (one UUID), like this: [08caa364-3792-414d-be4d-f8691f7e4d65],
when it output `log/production.log`,  `ActiveSupport::TaggedLoggingJSON` hack (for add "tags":  [08caa364-3792-414d-be4d-f8691f7e4d65]) is not work, it value always [].

[code]

BTW:

 [This](https://github.com/tilfin/ougai#u

[2019-08-13 04:30] zw963 commented on #84
Don't know why, when use `Ougai::Logger.broadcast`, will cause logger missing.

Following is Ougai broadcast output:

![image](https://user-images.githubusercontent.com/549126/62915149-ef269180-bdc5-11e9-9e08-7801539b048a.png)

if use ActiveSupport::Logger.broadcast, output this:

![image](https://user-images.githubusercontent.com/549126/62915182-06657f00-bdc6-11e9-8970-7afa07ed2f22.png)

[2019-08-13 07:49] kleinron opened #85 "Child logger - level"
AFAIU, child logger can only add fields to its parent logger, according to some logic.
However, when it comes to the child logger's level, it is purely inherited from the parent logger.
Is there a way to set the child logger's level, too?
If not, maybe there is a way to clone a logger and set a different log level to the cloned object?

[2019-08-13 08:17] tilfin commented on #85
Yes, a child logger is inherited from the log level of its parent. There is no way to solve it currently.
Why do you want to change the level of child loggers?

[2019-08-13 08:27] tilfin commented on #84
Thank you @zw963, telling me about wrong README.

The broadcast feature supports only Ougai logging, not ActiveSupport logging.
There is no way that both sending structure logs to fluentd and writing original rails logs to a file are satisfied.

[2019-08-13 09:26] kleinron commented on #85
I'm using an external gem, and I want to pass it a child logger with additional fields.
For instance, I'm using _Sneakers_, and I'd like _Sneakers_ to use the same logger (with all of its settings).
However, I'm only interested in logging Sneakers errors. Other entries (of level warn, info and debug) are irrelevant for my application, and make white noise.
For this reason I want to have some kind

[2019-08-13 12:13] tilfin commented on #85
I understood.

The child logger feature applies somethings to a log recursively. Suppose a child logger can have the log level, it is not clear which level is actually outputted if the main logger is error level and the child's is info level.

But, I also understood the use case. I will implement a feature to solve it.

[2019-08-18 11:44] tilfin commented on #85
I will implement level setter on child logger simply after I confirmed https://github.com/jondot/sneakers/blob/b4f44aac5c06ea0448427d8ee351a86f9db4a478/lib/sneakers.rb#L50 .

[2019-08-20 14:43] tilfin commented on #85
released v1.8.0

[2019-08-20 14:43] #85 closed

[2019-08-28 06:47] ybiquitous opened #88 "Support `:formatter` option for `Ougai::Logger.new`?"
Hi, I'm wondering why `Ougai::Logger.new` method does not support the `:formatter` option, which the parent [`::Logger.new`](http://ruby-doc.org/stdlib-2.6.3/libdoc/logger/rdoc/Logger.html#method-c-new) can accept.

For example:

[code]

Ougai version is **1.8.0**.

It would be great if you could give me any response.
Thank you.

[2019-08-28 07:29] tilfin commented on #88
The reason is that the original Logger constructor did not support the `:formatter` argument when Ougai was first released. I will fix that.

[2019-08-28 07:30] ybiquitous commented on #88
Thank you so much!

[2019-08-28 15:39] #88 closed

[2019-08-28 17:19] ybiquitous commented on #88
Thank you for your very quick fix! I confirmed the issue has been fixed by v1.8.1. 😊

[2019-08-29 01:52] ybiquitous opened #90 "No output `log/development.log` on Rails with Readable formatter"
Hi, I noticed the weird behavior about development logging on Ougai and Rails integration with **Readable** formatter.

The PoC is here:
https://github.com/ybiquitous/ougai-rails-example/pull/1

I referred to the [Wiki page](https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger) for setup.

Even if development logging is enabled as follow,

[code]

The `log/development.log` outputs empty messag

[2019-08-29 06:54] ybiquitous commented on #90
I think it's a cause that `ActiveSupport::Logger.broadcast` is used automatically within Rails. By this, multiple loggers are called.

https://github.com/rails/rails/blob/530f7805ed5790af1d472a041bc74089dc183f47/activerecord/lib/active_record/railtie.rb#L60-L61

And, `Ougai::Formatters::Readable` modifies `data` argument (deteting `:msg` entry from `data` Hash), so I'm wondering that a next logger

[2019-08-29 13:42] tilfin commented on #90
First, please use `Ougai::Logger.broadcast` instead of `ActiveSupport::Logger.broadcast`.
The following code prevents the railtie.rb#L60-L61 codes.
[code]
Second, I found that `Ougai::Logger.broadcast` currently has the bug if logging method is called with block and Readable formatter has another one too, so I fix it.

[2019-08-29 13:43] tilfin commented on #84
I found that `Ougai::Logger.broadcast` currently has the bug if logging method is called with block, so I fix it by #92.

[2019-08-29 13:53] #90 closed

[2019-08-29 14:29] ybiquitous commented on #90
I appreciate your kindness! 😊
When I try the latest revision (https://github.com/tilfin/ougai/commit/ac10d1c23754b1e18552570979995a2737420fb0) on the PoC PR, it works very well!
(just updating Ougai gem)

https://github.com/ybiquitous/ougai-rails-example/pull/1/commits/baf835b8e488f5ff2bd8ecd262fad811573a98d3

### Console output
<img width="840" alt="image" src="https://user-images.githubuserconte

[2019-08-29 16:28] zw963 commented on #84
Don't know if this behavior is expect, what i want is:

1. output original format log to  'production.log'
2.  output jsonfied logger to fluentd.

so , i have following code. (as same above)

![image](https://user-images.githubusercontent.com/549126/63958373-cf2ce880-cabc-11e9-92d4-0b03bcaa97c6.png)

When use master branch code, i see no log write to fluent,  i don't know if this is
expected fixed

[2019-08-29 16:58] zw963 opened #93 "logger pretty print not worked."
From [WiKi](https://github.com/tilfin/ougai#use-human-readable-formatter-for-console), if add ap gem, will pretty print log into stdout, but, i tried several times, no luck.

Following is test code.

1. Gemfile

[code]

2. test code.

[code]

3. output log.

[code]

i never see logs like this:

![image](https://user-images.githubusercontent.com/549126/63960638-904d6180-cac1-11e9-95a9-5c938c8befa1.

[2019-08-30 04:36] tilfin commented on #93
The example is only for the output style if the Readable formatter is used. It is not intended for a specific application log like a Rails.

It is only the result of executing the following code.
[code]

[2019-08-30 04:42] tilfin commented on #84
It is the answer.

[2019-08-30 15:59] zw963 commented on #93
Thank you

[2019-08-30 15:59] #93 closed

[2019-08-30 16:01] zw963 commented on #84
Thank you.

[2019-08-30 16:01] #84 closed

[2019-10-24 19:48] jensljungblad opened #94 "Invalid JSON generated when logging stack traces, which happens in Rails and ActiveJob"
Trying to use ougai together with Rails. Ran into a problem with one of the default Rails logs from ActiveJob. When a job fails it logs something like "Error performing job" followed by a stack trace. This trace contains `\n` characters. This results in an ougai line such as:

[code]

Which is invalid JSON. Is ougai not guaranteed to output valid JSON?

[2019-10-24 20:41] jensljungblad commented on #94
Never mind! User error :)

[2019-10-24 20:41] #94 closed

[2019-11-25 09:02] brafales opened #95 "JSON logger severity fields not conforming to syslog standards"
Hi,

We've noticed the JSON logger doesn't conform to the standard syslog severity values:
- Here's ougai implementation: https://github.com/tilfin/ougai/blob/d3f1412668e302a904fbf8271954c260c0bf472a/lib/ougai/formatters/for_json.rb#L18
- Here are the standard levels for the different severity values according to syslog: https://en.wikipedia.org/wiki/Syslog#Severity_level which happen to be the sa

[2019-11-25 09:19] tilfin commented on #95
Yes, because those severity values are used by both https://github.com/trentm/node-bunyan and https://github.com/pinojs/pino for JavaScript.

If you would like to apply the syslog severity values, please override to_level method on your formatter.

[2019-11-25 09:42] #95 closed

[2019-12-05 02:59] tomlla opened #96 "Will ougai support #silence method? (Rails::RackLogger#silence)"
# Background

My application code and libraries code call `#silence` method for logger instance.

For example, Sprockets calls it

sprockets-rails-3.2.1/lib/sprockets/rails/quiet_assets.rb

[code]

# Problem

Ougai doesn't have #silence method. so exception raised when #silence is called.
(of course the exception is not json... )

# Question

1. @tilfin Do you have a plan about `#silence` method i

[2019-12-05 03:03] tomlla commented on #96
my configuration is like this

config/environments/xxx.rb
[code]

[2019-12-05 03:08] tomlla commented on #96
Sorry I didn't read these docs... I'll read them

- https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger
- https://github.com/tilfin/ougai/wiki/Use-as-Rack-logger

[2019-12-05 03:08] #96 closed

[2019-12-05 03:08] tilfin commented on #96
@tomlla Have you already implemented your app logger like the example on https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger ?

[2019-12-05 06:59] tomlla commented on #96
Not yet. but I'm finding a method to logging requestId before logger implementation.

↓ I used uuid request-id in rails default logger
[code]

Do you have something points to be careful of logger implementation?

[2019-12-05 10:59] tilfin commented on #96
@tomlla try to patch https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger#with-activesupporttaggedlogging

[2019-12-06 04:43] tomlla commented on #96
@tilfin Thank you I'll try it :smiley:

[2019-12-14 11:50] MicMicMon opened #97 "Loglevel not working"
I have the following config for my tests:
[code]

And my output still has warn & info outputs such as:

[code]

Where I can see that the `level` field seems ok.

What am I missing?

[2019-12-14 12:07] tilfin commented on #97
Is this file `config/environments/test.rb` ? If it is true, the log level is set again after the code.

[2019-12-14 15:01] MicMicMon commented on #97
Yes it is.
Can't see any other place where it would be set, greping on ".level" gives nothing else.
Do you think of a place to look for?

[2019-12-14 16:26] tilfin commented on #97
@MicMicMon Try to the following code
[code]
FYI) https://github.com/rails/rails/blob/ee10e05af27facf42b1c49f8aaa0463d3af6989c/railties/lib/rails/application/bootstrap.rb#L53

[2019-12-14 16:32] MicMicMon commented on #97
Weird, doing so makes the tests fail with :

[code]

[2019-12-14 16:35] MicMicMon commented on #97
Ah ok, got it to work with:

[code]
The `const_get` was failing in your example, expecting a string/symbol actually.

So, right, it works!
Is it expected, should it be documented?

[2019-12-14 16:44] tilfin commented on #97
It's not limited to Ougai, just about Rails configuration.

[2019-12-14 16:51] MicMicMon commented on #97
Ah ok.

Thanks for your help!

Might be worth mentioning in the doc though, it's confusing for someone who doesn't know the internals like me, you don't suspect something else overwrites the config :)

[2019-12-14 16:51] #97 closed

[2020-01-31 03:05] shouichi opened #99 "Customizing message keys"
Hi,

Is it possible to customize message key? For example, `{"message": "hello"}` instead of `{"msg": "hello"}`. We send log messages to google cloud stackdriver and it requires log messages to be formatted in the certain way to pretty print them in the console.

Thanks!

[2020-01-31 03:33] tilfin commented on #99
Currently, there is no option to change the message field name.
Please change `msg` field `message` by creating sub-class at the following code.

[code]

[2020-01-31 03:40] shouichi commented on #99
Do you want to support customizing message keys? At least adding the above snippet to the README would help future users.

Thanks!

[2020-01-31 03:47] tilfin commented on #99
I think that I should write how to use StackDriver nicely (for example, including the way between `logger.child` method and the log grouping feature of StackDriver).

[2020-01-31 03:50] shouichi commented on #99
Awesome :clap: Feel free to close this (not really sure if I should close this but my original question was solved).

[2020-03-03 14:57] andrew-newell commented on #99
Theoretically couldn't a custom serializer be written to accomplish mapping internal "message" fields to the desired output format? (I'm coming from a Java/logback viewpoint)

`{msg: 'blah', this: "that", the: "other}`
to JSON output of:
`{"m":"blah", "c": {"this":"that", "the":"other"}}`

I don't see an immediate way to register a custom serializer but perhaps I've missed something?

[2020-03-03 15:00] andrew-newell commented on #99
In addition, the ability to create custom serializers (appenders in logback terms) would allow users to write to multiple outputs simultaneously which is very useful when wanting friendly STDOUT logs and detailed json logging to disk which includes more context.

[2020-03-03 15:13] tilfin commented on #99
@andrew-newell  Please make your Formatter as well as above one.
[code]

You can use `broadcast` method to multiple outputs.
[code]

[2020-03-03 15:20] andrew-newell commented on #99
@tilfin thank you for the examples! I think that should do what I've described without any extra code needing to be added to this library, which is always a great thing. 👍

[2020-03-03 15:27] andrew-newell commented on #99
The method call for `super` was missing some things, I had to do this:
[code]

[2020-04-10 15:19] qortex opened #103 "Switch from awesome_print to amazing_print to avoid deprecation warnings"
The `awesome_print` gem is no longer maintained.

A fork has been created that will continue maintaining the gem: [amazing_print](https://github.com/amazing-print/amazing_print).

**The dependency should move to `amazing_print`.**

As of now, `awesome print` gives lots of warning with Ruby 2.7.0 such as (lots of), making ougai practically unusable:
[code]

[2020-04-10 15:20] qortex commented on #103
See [here](https://github.com/awesome-print/awesome_print/issues/375) for context on the fork.

[2020-04-14 03:00] ybiquitous commented on #103
I would appreciate it so much if this proposal would be released, please... 🙏
(I'm bothered by these too many warnings 😭 )

[2020-04-14 06:06] #103 closed

[2020-04-14 06:28] tilfin commented on #103
released it at v1.8.4

[2020-04-14 06:29] ybiquitous commented on #103
Thank you so much! 😊

[2020-05-29 15:02] jezstephens opened #107 "Adding fields to logging within a block without using a child logger"
I am looking to achieve something similar to what is possible with [ActiveSupport::TaggedLogging](https://edgeapi.rubyonrails.org/classes/ActiveSupport/TaggedLogging.html):

[code]

The important thing to note here is that the logger is mutated for the duration of the block execution - there is no "child logger" yielded to the block. This is useful because it is often difficult/impossible to injec

[2020-05-29 15:56] tilfin commented on #107
@jezstephens Please use `before_log` with the thread-based store as the following code:
[code]

[2020-06-05 17:24] jezstephens commented on #107
@tilfin, thanks very much for your help.

I'm not sure this is an ideal substitute for the suggested functionality in all cases, but it works well for my use case. It also seems like it would be possible to implement the `#with_fields {...}` functionality in a custom logger using a similar technique.

I will mark this issue as closed.

[2020-06-05 17:24] #107 closed

[2020-07-10 22:53] ovalenzuela19 opened #108 "Cannot load such file -- awesome_print when using logger.formatter = Ougai::Formatters::Readable.new"
I run into the error of: Cannot load such file -- awesome_print when I use the Readable Formatter as specified in the wiki.
Gemfile: `gem amazing_print`
Gemfile.lock: `amazing_print (1.2.1)`

[2020-07-11 04:00] tilfin commented on #108
Tell me the ougai version you use. the latest version one shouldn't refer **awesome_print**.

[2020-07-11 06:41] ovalenzuela19 commented on #108
Using Ougai 1.8.2

On Fri, Jul 10, 2020 at 9:00 PM Toshimitsu Takahashi <
notifications@github.com> wrote:

[2020-07-11 06:41] ovalenzuela19 commented on #108
Using Ougai 1.8.2

[2020-07-11 06:44] tilfin commented on #108
Please upgrade to 1.8.5

[2020-07-11 07:20] ovalenzuela19 commented on #108
Solved the issue! Thanks!

[2020-07-11 07:20] #108 closed

[2020-08-06 08:19] sudeeptarlekar opened #109 "Getting issue for loading `Readable` object in production environment"
Right now we are using Ougai for logging in production, now as it is using `amazing_print` one the dependency we are facing issue while loading `Ougai::Formatters::Readable.new` in production

**Steps to reproduce**
1. Add. `Ougai` as gem in Gemfile
2. Run `bundle install`
3. Start `rails console -e production`
4. `Ougai::Formatters::Readable.new`

**Actual Result**
[code]

**Expected Result**
[co

[2020-08-06 09:26] tilfin commented on #109
@sudeeptarlekar  I don't recommend the Readable formatter on the production environment. therefore if you want the Readable formatter, `gem 'amazing_print'` in the Gemfile of your application must be defined separately. There is the explanation on https://github.com/tilfin/ougai#use-human-readable-formatter-for-console .

[2020-08-06 11:11] sudeeptarlekar commented on #109
Ahh my bad, I missed that, can we highlight that part or add a note in installation?

[2020-08-11 09:51] sudeeptarlekar commented on #109
@tilfin if you think we should move that explanation or if we should add a link to that doc in top section, let me know I will create a PR or else feel free to close issue.

Thanks for your quick input, much appreciated.

[2020-09-01 14:50] #109 closed

[2020-09-25 19:47] A-deLuna opened #110 "Sidekiq instructions wiki is out of date"
In Sidekiq 6.0 you can't access `Sidekiq::Logging.logger` anymore. You can now set config.logger directly and access the logger through `Sidekiq.logger`

[code]

[2020-10-07 02:00] tilfin commented on #110
@A-deLuna  Thank you. I updated the wiki page.

[2020-10-07 02:00] #110 closed

[2020-12-30 04:43] kalmenius opened #112 "ChildLogger does not define #add"
Because `Ougai::ChildLogger` does not subclass Ruby's stdlib `Logger`, I have run into issues when passing a "child" Ougai logger into a library which calls `#add(...)` on the passed logger.

A good example is in [Bunny](http://rubybunny.info/): https://github.com/ruby-amqp/bunny/blob/master/lib/bunny/transport.rb#L374

Here is a quick spec I prepared which illustrates the issue:

[code]

I _think

[2020-12-30 21:55] kalmenius commented on #112
Below is the rough idea I had for a fix -- it has the added benefit of also introducing support for `#log(...)` to Ougai loggers.

Please let me know if this makes sense for this gem. If so, I'm happy to work on a branch which also includes some new specs.

[code]

[2021-01-05 22:59] SkipKayhil commented on #74
Hey @tilfin,

I wanted to add some more information to help explain the issue and how to reproduce it (and my solutions in case anyone comes across this in the future)

You can reproduce it with the following snippet:
[code]

I also tried your solution:
[code]
However, I believe this doesn't work because the [base ruby Logger class always creates a LogDevice](https://github.com/ruby/ruby/blob/d069

[2021-01-10 11:29] #112 closed

[2021-01-10 13:32] tilfin commented on #112
released v1.9.0 for this.

[2021-01-10 15:19] kalmenius commented on #112
Thanks @tilfin! 👍

[2021-01-13 15:17] haines opened #114 "Ougai::Logger#add not compatible with Rails"
As suggested in the [wiki](https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger), we're including `ActiveSupport::LoggerSilence` in our logger like so

[code]

However this is broken in 1.9.0 because of the changes in #113.

Including the `ActiveSupport::LoggerSilence` also includes `ActiveSupport::LoggerThreadSafeLevel`, which overrides `#add` and reverts it to the original signature ([here](

[2021-01-13 22:57] tilfin commented on #114
Thank you for your report.
Please continue to use v1.8 for now.

[2021-01-15 11:36] tilfin commented on #114
released https://github.com/tilfin/ougai/releases/tag/v1.9.1

[2021-01-15 11:36] #114 closed

[2021-01-16 20:11] flah00 opened #116 "Logging ANSI colors"
I'm running into an issue, either with the colorize gem or with ougai...

When I set the ougai formatter to `Ougai::Formatters::Readable`, my colors turn dull.

My setup is tmux (with a custom tmux 256 termcap), iterm, and solarized dark on a mac, if that helps. Also, I'm using colorize 0.8.1 and ougai 1.9.1 and ruby 2.6.6.

## normal

[code]

## dull

[code]

[2021-01-17 03:36] tilfin commented on #116
It seems like there is interference between the **colorize** and the **amazing_print** that the Readable formatter depends on.
https://github.com/amazing-print/amazing_print/blob/master/lib/amazing_print/core_ext/string.rb#L29

[2021-01-17 03:40] tilfin commented on #116
Please try to use an alternative readable formatter or have one made by yourself.
https://github.com/tilfin/ougai/wiki/Awesom-Ougai#custom-formatters

[2021-01-17 03:47] tilfin commented on #99
Pino (JavaScript logger) supports this feature as **messageKey** option. https://github.com/pinojs/pino/blob/master/docs/api.md#messagekey-string

[2021-01-18 16:27] flah00 commented on #116
Wow, that was quick! Thanks for pinning it down. I'll give it whirl.

[2021-01-18 16:27] #116 closed

[2021-01-18 18:28] flah00 commented on #116
For posterity:

[code]

[2021-01-20 19:45] haines commented on #114
v1.9.1 is working well, thanks for fixing this so quickly!

[2021-01-27 08:19] ybiquitous opened #117 "How to make Oj optional"
Hello. I have some reason not to be able to use `Oj`, so is there a way to use another JSON library like the standard library `JSON` instead of `Oj`?

When I look into the code, it seems hard to replace `Ougai::Serializer.for_json` with some serializer without any monkey-patch.

https://github.com/tilfin/ougai/blob/73471358cc5c789b037abcab944cc1fac18353a6/lib/ougai/formatters/for_json.rb#L15

If w

[2021-01-27 08:40] tilfin commented on #117
I use Oj instead of standard JSON for two reasons.

First, it's faster.
Second, it doesn't fail even when garbled string is mixed in values of structured data.

I actually fell into this trap when logging info entered by users in mobile apps.
If you still intend to deal with this issue, I will consider implementation.

Thanks.

[2021-01-27 09:01] ybiquitous commented on #117
Thank you so much for your quick response!

I fully understand the benefits of Oj, but I think **making the Ougai serializer pluggable** will be very useful for this gem's fan.
(especially, users like me who cannot use Oj for some reason 😅 )

I'd appreciate it so much if you could proceed with this issue.

[2021-01-27 09:32] tilfin commented on #117
I understood it.

I think that your purpose can be achieved by the following code.

[code]

[2021-01-31 23:59] Freaky commented on #117
I'd suggest using [multi_json](https://github.com/intridea/multi_json), like many other gems.

[2021-02-20 15:14] tilfin commented on #117
I decided that Ougai should not use multi_json from now based on the following links.

- https://github.com/intridea/multi_json/issues/200#issuecomment-689087204
- https://github.com/intridea/multi_json/pull/113

I want to keep Oj and JrJackson as default, but allow users to change their custom serializer.

[2021-02-22 01:41] ybiquitous commented on #117
Sounds good. How will not Ougai install Oj if a user wants to install another JSON library?
(in other words, will Oj always be installed?)

[2021-02-24 01:17] tilfin commented on #117
Ougai have already been used by some applications, so I'm carefully considering how to make the users install OJ(JrJackson) separately.

[2021-08-10 02:48] singpolyma opened #120 "Option to add prefix to all logs"
For a child logger, it can be useful to have a specified prefix string added to all logs.

[2021-09-05 03:48] tilfin commented on #120
Can you provide some examples?

[2021-09-07 01:40] singpolyma commented on #120
The idea would be to allow something like:

[code]

[2021-09-07 14:56] tilfin commented on #120
You can do that by applying your custom formatter.

[2021-11-22 14:23] Samuron opened #123 "Log redaction"
Hello! Thank you for the awesome work you are doing.
Recently, I have encountered some issues when tried to do redaction. I have implemented it in following way:
[code]

This is working well but has one unfortunate sideeffect - it mutates the hash passed to log. Ougai does not take the defensive copy and if user will pass actual application data it can result in it being mutated.

Maybe, I am usin

[2021-11-23 09:00] tilfin commented on #123
Exactly. Ougai does a shallow copy of the data, but not a deep copy.
https://github.com/tilfin/ougai/blob/main/lib/ougai/logger.rb#L133

So please duplicate all Hash values except the top level data by yourself.
I haven't tested the following code, but I think it will work as expected.

[code]

[2022-01-08 02:50] #123 closed

[2022-01-25 10:47] iMacTia opened #125 "`after_initialize` is deprecated"
The Wiki page on [Use as Rails logger](https://github.com/tilfin/ougai/wiki/Use-as-Rails-logger) shows that your custom logger needs to override `initialize` and call `after_initialize`.
That method is deprecated and removed in more recent versions of Rails, and is not necessary to call it anymore:

I wanted to add this to the Wiki page to save some time for future developers, but I don't have wri

[2022-01-25 14:35] tilfin commented on #125
Thank you!

[2022-03-11 21:51] daisy1754 opened #129 "json log formatter ignores with_newline flag when jsonize is false"
I wanted to change log format from json to hash, and tried below

[code]

Unfortunately this will produce log without newline because as shown in code below, with_newline flag is ignored if jsonize is false

https://github.com/tilfin/ougai/blob/5584cd00b73d9ca09255d7703c33610a4ca41435/lib/ougai/formatters/for_json.rb#L39

I'm happy to send PR to change behaviour but technically this will be breaki

[2022-03-13 02:34] tilfin commented on #129
When `jsonize` option is false, Ougai does not write a string to log files or STDOUT. it pass hash object to the logdevice.
ref) https://github.com/tilfin/ougai/wiki/Forward-logs-to-Fluentd

What log format do you want at last?

[2022-03-13 11:58] daisy1754 commented on #129
Thanks for quick response. My end goal was to send log to GCP.

It seems that if you log string with json (like buyan formatter), GCP's log agent (which I think also is fluentd) just ignored my log entry. Problem is I cannot find log format the agent like, so I end up disabling jsonize.

With jsonize=false with default formatter, we at least was able to get log recognized, but multiple log entries

[2022-03-13 13:57] tilfin commented on #129
I wrote this a long time ago, but it may be helpful.
https://github.com/tilfin/fluent-plugin-bunyan-to-google-cloud-logging

[2022-04-29 20:05] apryiomka opened #132 "How to log level as literal, not number"
The current behavior is that level represented as number 10...60. What we need is literal: `debug`, `info`, `error`. How can we change the output of the level?

[2022-05-20 05:59] vpereira opened #133 "cannot load such file -- amazing_print (LoadError)"
Hi,

I'm updating my Ougai version from (1.8.2 to 1.8.5 or 2.0.0), I have Ougai in my `Gemfile`. Trying to load development or test environment leads to exception.

My class looks like:

[code]

I see that in your `gemspec` you require `amazing_print` just in the [test group](https://github.com/tilfin/ougai/blob/main/Gemfile#L7).. isn't that a problem?

[2022-05-20 06:51] tilfin commented on #133
When your application runs in the production environment, you expect the logs as JSON, so `amazing_print` is not necessary.
For example, in Rails, for applying readable logger to `config.logger` in development and test environments, `amazing_print` must be defined in their gem groups.

[2022-05-20 07:12] vpereira commented on #133
Hey @tilfin, thank you for your reply. Indeed my first try was to add the `amazing_print` just to the `development, test` groups and it worked for me, in development and test mode.  I will investigate it further, thank you :+1:

[2022-08-18 19:57] The-Alchemist opened #134 "broadcast doesn't work with child"
From the README, but using `.child()`:

[code]

## Stdout output

[code]

## error.log

[code]

Is this intentional? I assumed creating a child logger would broadcast as well.  Thoughts?